extends ./layout
block content
	.container
		.row
			.col.s12.m8.offset-m2
				form(method="post" action="/login").card
					.card-content
						.card-title.center-align jCloud
						- if(error != undefined || error != null)
							p.center-align.red-text!= error
							p.center-align.red-text Si esto se trata de un error, por favor #[a(href="/error") notificanos]
						.input-field
							input(type="email" name="email" id="email" required).validate
							label(for="email") Correo:
						.input-field
							input(type="password" name="password" id="pass" required).validate
							label(for="pass") Contraseña:
					.card-action
						input(type="submit").btn
						a(href="/login/signup").right No tengo cuenta